{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>home-market</title>
        <link rel="stylesheet" href="{% static 'cs/bootstrap.css' %}" >
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" >
        <link rel="stylesheet" href="{% static 'css/style.css' %}" >
    </head>
    <footer>
       
        <h4>objectif janvier 2026</h4>
        <H6>conquerir toute l'afrique grace a tous vos soutient </H6>
       <h6>SIEGE douala-cameroun : situe a akwa pres de l'immeuble la concorde </h6>
       <h6>email <a href="mailto:likemarket@gmail.com">likemarket@gmail.com</a>ecriver nous</h6>
       <h6>WATHSAP uniquement <a href="">683906064</a></h6>
        <p>ce projet fait partie des cathegorie </p>
        <p> resaux sociaux et finance</p>
    </footer>
</html>